.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  padding: 10rem 7rem;
  color: var(--dark-color-light);
}
.aboutMe {
  width: 60%;
}
.aboutMe > h2 {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
  color: var(--dark-color);
}
.aboutMe > h2::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0px;
  width: 50px;
  height: 3px;
  background-color: var(--dark-color);
}
.aboutMe > p {
  margin-bottom: 3rem;
  line-height: 2rem;
}
.edu {
  color: var(--dark-color);
  margin-bottom: 1rem;
}
.edu > ul > li:first-child {
  margin-bottom: 0.7rem;
}

@media (max-width: 768px) {
  .about {
    padding: 5rem;
  }
  .aboutMe {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 5rem 2rem;
  }
}
