 @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
 @font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --light-color: #f1f1f1;
  --dark-color: #333;
  --dark-color-light: #444;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'GmarketSansMedium', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
header {
  background-image: url(../public/img/bg2.jfif);
  background-attachment: fixed;
  background-size: cover;
  color: var(--light-color);
  height: 100vh;
}
header.flex {
  justify-content: flex-start;
  align-items: flex-end;
}
header > .container {
  margin: 0px 0px 4rem 6rem;
}
.container > h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.container > h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  font-weight: 100;
  opacity: 0;
  transition: all .8s ease-in-out;
}
.container > ul {
  justify-content: flex-start;
  opacity: 0;
  transition: all .8s ease-in-out;
}
.container > ul > li {
  background-color: white;
  border-radius: 5px;
  padding: 6.5px 0px 0px 6.5px;
  width: 30px;
  height: 30px;
  margin-right: .7rem;
}
.container > ul > li > a > img {
  width: 17px;
  height: 17px;
}


/* about */
.about {
  background-color: var(--light-color);
  padding: 10rem 7rem;
  color: var(--dark-color-light)
}
.about > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.about-left {
  overflow: hidden;
  height: 500px;
}
.about-right > h2 {
  font-size: 2.5rem;
  position:relative;
  margin-bottom: 4rem;
  color: var(--dark-color);
}
.about-right > h2::after,
.project > h2::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0px;
  width: 50px;
  height: 3px;
  background-color: var(--dark-color);
}
.about-right > p {
  margin-bottom: 3rem;
  line-height: 2rem;
}
.edu {
  color: var(--dark-color);
  margin-bottom: 1rem;
}
.edu > ul > li:first-child {
  margin-bottom: .7rem;
}

/* stacks */
.stack {
  padding: 7rem;
  color: var(--light-color);
  background: url(../public/img/project.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.stack > h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 8rem;
}
.skill > h3 {
  display: inline-block;
  font-size: 1rem;
  background-color: black;
  border-radius: 50px;
  border: 3px dotted var(--dark-color);
  padding: .5rem 1.5rem;
  margin-bottom: 2rem;
}
.skill > ul {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}
.skill > ul > li {
  transition: all .3s ease;
}
.skill > ul > li:hover {
  transform: scale(1.1);
}
.skill > ul > li > h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .8rem;
}
.skill-top > ul {
  margin-bottom: 5rem;
}

/* project */
.project {
  padding: 5rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  position: relative;
}
.project > h2 {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}
.work > li {
  height: 400px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  position: relative;
  background-color: var(--dark-color);
  cursor: pointer;
}
.work > li > p {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--light-color);
}
.work > li:hover {
  transform: scale(0.95);
  box-shadow: 1px 1px 30px var(--light-color), -1px -1px 30px var(--dark-color-light);
}
.work > li > img {
  opacity: .1;
  filter: blur(3px);
}
.work > li > img:hover {
  opacity: 1;
  filter: blur(0);
}
.work > li:nth-child(1) {
  grid-column: 1/3;
}
.work > li:nth-child(4) {
  grid-column: 2/4;
}

/* project > page */
.page {
  background-color: white;
  color: var(--dark-color);
  padding: 2rem 2rem 3rem;
  width: 50vw;
  position: absolute;
  z-index: 9999;
  top: calc(50vh/2);
  left: calc(50vw/2);
}
.page > button {
  float: right;
  border: none;
  background-color: white;
  cursor: pointer;
}
.page > button > img {
  width: 30px;
}
.page > .content {
  flex-direction: column;
  row-gap: 3rem;
  color: var(--dark-color-light);
  line-height: 2rem;
}
.page > .content > h3 {
  font-size: 2rem;
  margin-top: 2rem;
}
.page > .content > img {
  width: 70%;
  border: 1px solid var(--dark-color);
}
.tag {
  display: flex;
  justify-content: space-between;
}
.tag > ul {
  display: flex;
  column-gap: 1rem;
  margin-top: 2rem;
}
.tag > ul > li {
  font-size: .7rem;
  border-radius: 10px;
  background-color: #666;
  color: var(--light-color);
  border: 2px dotted rgb(161, 160, 160);
  text-align: center;
  padding: 0px 1.2rem;
}
.tag > ul:last-child > li {
  background-color: #333;
}



/* contact */
.contact {
  background-color: black;
  padding: 5rem;
  color: var(--light-color);
  flex-direction: column;
}
.contact > h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.contact-container {
  background-image: url(../public/img/bg2.jfif);
  background-attachment: fixed;
  background-size: cover;
}
.contact-container > ul {
  text-align: center;
  line-height: 5rem;
  padding: 6rem 4rem;
  margin: 0 15rem;
}
.contact-container > ul > li > a {
  color: var(--light-color);
}

/* footer */
footer {
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.918);
  color: var(--light-color);
  position: relative;
}
footer > div {
  flex-direction: column;
}
.footer-top {
  margin-bottom: 2.5rem;
}
.footer-top > h3 {
  letter-spacing: .1rem;
  margin-bottom: 1.5rem;
}
.footer-top > div {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.footer-top > div > img {
  width: 70px;
}
.footer-bottom > h3 {
  font-size: .8rem;
  margin-bottom: .6rem;
}
.footer-bottom > ul {
  text-align: center;
  line-height: 1.5rem;
  font-size: .9rem;
  column-gap: 2rem;
}
.footer-bottom > ul > li > a {
  font-weight: 100;
  color: var(--light-color);
}
footer > p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: .7rem;
  font-weight: 100;
  color: var(--dark-color-light)
}



/* media query */
@media (max-width: 768px) {
  .about > .container{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }
  .project {
    padding: 3rem;
  }
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
  .work > li:nth-child(1) {
    grid-column: 1/3;
  }
  .work > li:nth-child(4) {
    grid-column: 1/3;
  }


}

@media (max-width: 576px) {
  .about-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .work {
    grid-template-columns: repeat(1, 1fr);
  }
  .work > li:nth-child(1) {
    grid-column: 1/2;
  }
  .work > li:nth-child(4) {
    grid-column: 1/2;
  }
}