 @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
 @font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --light-color: #f1f1f1;
  --dark-color: #333;
  --dark-color-light: #444;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'GmarketSansMedium', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
header {
  background-image: url(../public/img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: var(--light-color);
  height: 100vh;
}
header.flex {
  justify-content: flex-start;
  align-items: flex-end;
}
header > .container {
  margin: 0px 0px 4rem 6rem;
}
.container > h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.container > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 1rem;
  font-weight: 100;
}
.container > ul {
  justify-content: flex-start;
}
.container > ul > li {
  background-color: white;
  border-radius: 5px;
  padding: 7.5px 0px 0px 7.5px;
  width: 35px;
  height: 35px;
  margin-right: 1.5em;
}
.container > ul > li > img {
  width: 20px;
  height: 20px;
}


/* about */
.about {
  background-color: var(--light-color);
  padding: 10rem 7rem;
  color: var(--dark-color-light)
}
.about > .container,
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.about-left {
  overflow: hidden;
  height: 500px;
}
.about-right > h2 {
  font-size: 2.5rem;
  position:relative;
  margin-bottom: 4rem;
  color: var(--dark-color);
}
.about-right > h2::after,
.project > h2::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0px;
  width: 50px;
  height: 3px;
  background-color: var(--dark-color);
}
.about-right > p {
  margin-bottom: 3rem;
  line-height: 2rem;
}
.edu {
  color: var(--dark-color);
  margin-bottom: 1rem;
}
.edu > ul > li:first-child {
  margin-bottom: .7rem;
}

.stack {
  padding: 7rem;
  /* color: var(--light-color); */
  color: white;
  background: url(../public/img/project.jpg);
  background-size: cover;
  background-attachment: fixed;

}
.stack > h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 8rem;
}
.skill > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}
.skill > ul {
  margin-bottom: 8rem;
}
.skill > ul > li > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

/* project */
.project {
  padding: 5rem;
  background-color: var(--light-color);
  color: var(--dark-color);
}
.project > h2 {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
}
.work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}
.work > li {
  height: 400px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  position: relative;
  background-color: var(--dark-color);
  cursor: pointer;
}
.work > li > p {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--light-color);
}
.work > li:hover {
  transform: scale(0.95);
  box-shadow: 1px 1px 30px var(--light-color), -1px -1px 30px var(--dark-color-light);
}
.work > li > img {
  opacity: .1;
  filter: blur(3px);
}
.work > li > img:hover {
  opacity: 1;
  filter: blur(0);
}
.work > li:nth-child(1) {
  grid-column: 1/3;
}
.work > li:nth-child(4) {
  grid-column: 2/4;
}

/* contact */
.contact {
  padding: 5rem;
  /* background-color: var(--light-color); */
  background: linear-gradient(var(--light-color), var(--dark-color-light));
  color: var(--dark-color);
}
.contact > h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.contact-container {
  padding-top: 4rem;
}
.contact-left > ul {
  line-height: 5rem;
}
.contact-right {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

/* footer */
footer {
  padding: 4rem;
  background: linear-gradient(#444444, var(--dark-color));
  color: var(--light-color);
  position: relative;
}
footer > div {
  flex-direction: column;
}
.footer-top {
  margin-bottom: 3rem;
}
.footer-top > h3 {
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}
.footer-top > div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.footer-top > div > img {
  width: 100px;
}
.footer-bottom > h3 {
  margin-bottom: 1rem;
}
.footer-bottom > ul {
  text-align: center;
  line-height: 2rem;
}
.footer-bottom > ul > li > a {
  font-weight: 100;
}
footer > p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: .7rem;
  font-weight: 100;
  color: var(--dark-color-light)
}



/* media query */
@media (max-width: 768px) {
  .about > .container{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
  }
  .project {
    padding: 3rem;
  }
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
  .work > li:nth-child(1) {
    grid-column: 1/3;
  }
  .work > li:nth-child(4) {
    grid-column: 1/3;
  }


}

@media (max-width: 576px) {
  .about-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .work {
    grid-template-columns: repeat(1, 1fr);
  }
  .work > li:nth-child(1) {
    grid-column: 1/2;
  }
  .work > li:nth-child(4) {
    grid-column: 1/2;
  }
}